.wrapA { //전체 틀
        max-width: 580px;
        width: 100%;
        max-height: 1000px;
        height: calc(100vh - 100px);
        // background-image: linear-gradient(rgb(89,208,255), rgb(255,255,255));
        background-image: url('../../assets/back_blue.png');
        background-size: 100%;
        background-repeat: no-repeat;
        // vertical-align : bottom;
        h1 {
            color: #373B95
            ;
            text-align: center;
            padding-top: 20%;
            margin-top: 0px;
        }
        img {
            display: block;
            margin: 0px auto;
            padding-top: 40px;
            width: 60%;
            height: 60px;
        }
    }

.wrap-inputs-login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15%;    
}

.wrap-inputs-signup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%;    
}

.wrap-count-num {
    display: flex;
    justify-content: space-evenly;
}

header {
    display: flex;
    max-width: 580px;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    background-color: #2da6ec;
    .logo {
        width: 30px;
        height: 40px;
        object-fit: cover;
    }
    .back-btn{
        width: 20%
    }
}
// 정렬
.router-link {
    text-align: center;
}
.flex-container {
    display: flex;
}

// 버튼 관련


.wrap-btn {
    text-align: center;
    white-space:nowrap;
    .btn-ice {
        position: relative;
        border: none;
        display: inline-block;
        padding: 10% 8%;
        border-radius: 15px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        font-weight: 600;
        transition: 0.25s;
        margin: 0 30px 0 30px;
      }
    .btn-login {
        position: relative;
        border: none;
        display: inline-block;
        padding: 10px 30px;
        border-radius: 15px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        font-weight: 600;
        transition: 0.25s;
        margin: 0 30px 0 30px;
    }
    .btn-in {
        position: relative;
        border: none;
        display: inline-block;
        padding: 10px 30px;
        border-radius: 15px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        font-weight: 600;
        transition: 0.25s;
        margin: 0 30px 0 30px;
    }
    .img-ice {
        height: 110px;
    }
    .img-game {
        height: 100px;
        padding-top: 0;
    }
      
}

// padding, margin
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt50 {
    margin-top: 50px;
}
.mt100 {
    margin-top: 100px;
}

.mtp5 {
    margin-top: 5%;
}
.mtp10 {
    margin-top: 10%;
}
.mtp20 {
    margin-top: 20%;
}

.pt10 {
    padding-top: 10px;
}
.pt20 {
    padding-top: 20px;
}
.pt50 {
    padding-top: 50px;
}
.pt100 {
    padding-top: 100px;
}

.ptp10 {
    padding-top: 10%;
}
.ptp15 {
    padding-top: 15%;
}

// input 관련

.input-with-label{
    text-align: center;
    // padding-top: 100px;
    .input-pin{
        height: 50px;
    }
    .input-id{
        box-sizing: border-box;
        height: 30px;
        width: 70%;
    }
    .input-login-password{
        box-sizing: border-box;
        height: 30px;
        width: 70%;
    }
    .input-signup-password{
        box-sizing: border-box;
        height: 30px;
        width: 55%;
    }
    .input-email {
        box-sizing: border-box;
        height: 30px;
        width: 55%;
    }
    .input-nickname {
        box-sizing: border-box;
        height: 30px;
        width: 55%;
    }
    // .password{
    //     ;

    // }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}