body {
    margin: 0;
}


.wrapA {
    //전체 틀
    width: 100vw;
    height:100vh;
    // height: -webkit-fill-available;
    // height: fill-available;
    background-attachment: fixed;
    position: fixed;
    overflow: hidden;
    background-image: url('../../assets/back_img1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
    // vertical-align : bottom;
    h1 {
        color: #ffffff;
        text-align: center;
        padding-top: 20%;
        margin: 10px 0;
        font-size: 80px;
        font-family: bitbit;
        text-shadow: 0px 3px 2px #F73C89;
        -webkit-text-stroke: 0.3px black;
    }

    
}


.wrap-input-pin {
    display: flex;
    padding: 15%;
    justify-content: center;
    font-family: bitbit;
    font-size: 30px;
    span {
        margin-top: 7px;
    }
    input {
        height: 40px;
    }
    
    img {
        width: 60px;
        height: 35px;
        margin-top: 6px;
        padding: 0;
    }
}

.wrap-inputs-login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15%;
}

.wrap-inputs-signup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%;
}
.wrap-signup-btn{
    margin-top: 80px;
    text-align: center;
    display: block;
}

.wrap-count-num {
    display: flex;
    justify-content: space-evenly;
}

.wrap-mode-btn {
    margin-top: 40%;
    display: block;
    text-align: center;
    img {
        width: 250px;
        height: 160px;
    }
}

header {
    display: flex;
    max-width: 580px;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    background-color: #ece22d;
    
    .logo {
        width: 50px;
        height: 40px;
        object-fit: cover;
    }
    
    .back-btn {
        width: 20%
    }
}

// 정렬


.flex-container {
    display: flex;
}

// 버튼 관련

.btn-img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 160px;
    height: 80px;
}
.btn-img-signup {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 150px;
    height: 65px;
    
}

.btn-ice {
    position: relative;
    border: none;
    display: inline-block;
    padding: 10% 8%;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    margin: 0 30px 0 30px;
}

.btn-login {
    position: relative;
    border: none;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    margin: 0 30px 0 30px;
}



.img-ani3 {
    display: block;
    margin: 0px auto;
    padding-top: 40px;
    width: 300px;
    height: 150px;
}
// .img-ani3 {
//     height: 170px;
//     width: 70%;
// }

.img-game {
    height: 100px;
    padding-top: 0;
}



// padding, margin
.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt50 {
    margin-top: 50px;
}

.mt100 {
    margin-top: 100px;
}

.mtp5 {
    margin-top: 5%;
}

.mtp10 {
    margin-top: 10%;
}

.mtp15 {
    margin-top: 15%;
}

.mtp20 {
    margin-top: 20%;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pt50 {
    padding-top: 50px;
}

.pt100 {
    padding-top: 100px;
}

.ptp10 {
    padding-top: 10%;
}

.ptp15 {
    padding-top: 15%;
}

// input 관련

.input-with-label {
    text-align: center;
    font-family: bitbit;

    // padding-top: 100px;
    .input-pin {
        height: 40px;
        border-radius: 15px;
        outline: none;
        display: flex;
    }

    img {
        width: 60px;
        height: 40px;
    }

    .input-id {
        box-sizing: border-box;
        height: 30px;
        width: 70%;
    }

    .input-login-password {
        box-sizing: border-box;
        height: 30px;
        width: 70%;
    }

    .input-signup-password {
        box-sizing: border-box;
        height: 30px;
        width: 55%;
    }

    .input-email {
        box-sizing: border-box;
        height: 30px;
        width: 55%;
    }

    .input-nickname {
        box-sizing: border-box;
        height: 30px;
        width: 55%;
    }

    // .password{
    //     ;

    // }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
  }

  @font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

